*.pyc
*.pyo
*.pyd
__pycache__/
*.pyo
*.pyd
.Python

env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

*.swp
*.swo
*.swn
.idea/
.vscode/
*.orig

lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

db.sqlite3
*.log
media/
staticfiles/

.env
.env.*

.DS_Store
Thumbs.db

.coverage
htmlcov/
.tox/
.cache/
coverage.xml
nosetests.xml
pytest.xml
junit.xml
test-results/

docker-compose.override.yml
*.dockerfile

drf-yasg/
